@{
    ViewData["Title"] = "Sobre";
    ViewData["Message"] = "Sales Web MVC from C# Course";
    ViewData["Aluno"] = "Elias Castro Sousa Junior";
    ViewData["linkedin"]= "https://www.linkedin.com/in/eliascastrosousa/";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>@ViewData["Aluno"]</p>


<strong>More information: </strong>
<a href="https://www.linkedin.com/in/eliascastrosousa/"> <p> @ViewData["linkedin"] </p></a>
